<h1>Home</h1>
<button (click)="aleartmeassage('rb')">Aleart</button>
<br><br>
<!--  -->
<button (click)="Fcall()">Console.log</button>
<br><br>
<!--  -->
<h4>Property binding</h4>
<input typr="text" [value]="name2"><br> <br>

<!--  -->
<h4>Event binding using Template refrence variable</h4>
<input type="text" placeholder="enter text" #box >
<button (click)="boxvalue(box.value)">Event binding</button><br><br>
<p>
 Above value is:  {{displayval}}
</p>
<!--  -->

<h4>Two way binding</h4>
<input type="text" [(ngModel)]="name3">
<p>{{name3}}</p><br><br>
<!--  -->
<h3>Ng style</h3>
<button [ngStyle]="mystyles" (click)="ngbutton">Ngstyle</button>
<!-- <h3>Ng class</h3> -->
<!-- <h3>Ng Switch</h3>
<h4>ngFor directive</h4> -->
<h3 *ngFor="let username of name ">name is: {{username}}</h3>
<!--  -->
<h4>Basic form</h4>
 <form #form="ngForm" (ngSubmit)="getdata(form.value)">
<label>Name:</label>
<input type="text" ngModel name="name" placeholder="enter name">
<br><br>
\<label>Email:</label>
<input type="email" ngModel name="email" placeholder="enter mail">
<br><br>
<label>contact:</label>
<input type="number"  ngModel name="number" placeholder="enter number">
<br><br>
<label>Age:</label>
<input type="number" ngModel name="age" placeholder="enter age">
<br><br>
<button >Ragister</button>
 </form>

 <ul>
    <li>{{userdata.name}}</li>
    <li>{{userdata.email}}</li>
    <li>{{userdata.age}}</li> 
    <li>{{userdata.number}}</li>
 </ul>
