<h1 class="custom">Hello Angular! {{title}}</h1>
 <nav class="navbar">
<a routerLink="loginpage">Login page</a><br><br>
 <a routerLink="home">Home</a><br><br>
<a routerLink="parent">P to C</a><br><br>
 <a routerLink="todo">TODO</a><br><br>
<a routerLink="rdf">RDF</a><br><br>
<a routerLink="tdf">TDF</a><br><br>
<a routerLink="validation">VALIDATION</a><br><br>
<a routerLink="viewchild"> vc</a>
<a routerLink="rxjs">RXJS</a>
<a routerLink="pipe">pipe</a>
 </nav>
<router-outlet></router-outlet>